:root {
    --primary-text-color: #434455;
    --primary-bg-color: #f5f5f5;
    --accent-bg-color: #E7E9FC;
    --team-bg-color: #F4F4FD;
    --title-text-color: #2E2F42;
    --accent-color: #2196f3;
    --white-background-color: #ffffff;
    --black-color: #000000;
    --hover-focus-color: #4D5AE5;
    --button-hover-focus-color: #404bbf;   
    --section-hover-focus-color: #404BBF;  
}

a {
    text-decoration: none;
  }
          
body{
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: var(--primary-text-color);
    background-color: var(--white-background-color);
}
.visually-hidden {
    /*приховані заголовки*/

      overflow: hidden;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      margin: -1px;
}
  .header-top {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.link {
    text-decoration: none;
}

.linklogo {
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hover-focus-color);
}
.logopart {
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.list {
    list-style: none;
}
.menuheader {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.menuheader:hover,
.menuheader:focus {
    color: var(--button-hover-focus-color);
}
.address {
    font-style: normal;
}
.contact {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.contact:hover,
.contact:focus,{
  color: var(--button-hover-focus-color)
}
.hero {
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;
    background: var(--title-text-color);
}
.herotitle {
    /*Effective Solutions for Your Business*/
    font-size: 56px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--white-background-color);
}
.herobutton {
    /*Order Service*/
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background: var(--hover-focus-color);
    color: var(--white-background-color);
    cursor: pointer;
}
.herobutton:hover,
.herobutton:focus {
    color: var(--section-hover-focus-color);
}

    /*Advantages*/

.advantage-title {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.advantage-text {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}

.boxestitle {
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--title-text-color);
}

.team {
    background-color: var(--team-bg-color);
}
.team-title {
    font-size: 36px;
    font-family: Roboto;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
    text-align: center;
}
.team-card {
    background-color: var(--white-background-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-name {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.team-job {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);

}
.footer {
    background-color: var(--title-text-color);
}
.logopartfooter {
    font-size: 18px;
    font-family: Raleway;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--team-bg-color);
}
.footer-text {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--team-bg-color);
}
/*Portfolio*/
.portfolio {
    background-color: var(--white-background-color);
}

.button-portfolio {
    font-size: 16px;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--hover-focus-color);
    background: var(--team-bg-color);
    cursor: pointer;
}
.button-portfolio:hover,
.button-portfolio:focus {
    background-color: var(--button-hover-focus-color);
    color: var(--white-background-color);
}
.card{
    background-color: var(--white-background-color);
}
.head-portfolio {
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}
.portfolio-text {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
}
